<%= render Containers::FocussedComponent.new(title: "Sign in to Applog") do |component| %>
  <% component.with(:body) do  %>
    <%= render "form", url: sessions_url %>
    <hr class="my-4">
    <section>
      <p class="font--description">New to Applog?</p>
      <div class="mt-2">
        <%= link_to "Create an account", new_user_url, class: "btn btn--outlined btn--block btn--graphik" %>
      </div>
    </section>
  <% end %>
<% end %>