.actionable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - #{$app-header-height} - #{$app-main-padding-y * 2});
}

.actionable__header {
  display: flex;
  align-items: center;

  > hr {
    flex: 1 1 0%;
  }
}

.actionable__title {
  font-size: 18px;
  font-weight: 600;
  color: $gray-700;
  line-height: 28px;
  padding-right: 16px;
}

.actionable__content {
  margin-top: 24px;
}

.actionable__section:not(:first-of-type) {
  margin-top: 28px;
}

.actionable__footer {
  margin-top: 64px;
  text-align: center;
}
