.app {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app__main {
  background-color: $gray-100;
  height: calc(100vh - #{$app-header-height});
  padding: 28px 16px;
  overflow-y: auto;

  @include breakpoint(sm) {
    padding-left: 28px;
    padding-right: 28px;
  }

  @include breakpoint(lg) {
    padding-left: 32px;
    padding-right: 32px;
  }
}
