<%= render Containers::FocussedComponent.new(title: "Get a free trial for 14 days") do |component| %>
  <% component.with(:body) do %>
    <%= render "form", model: @user %>
  <% end %>

  <% component.with(:footer) do %>
    <p class="focus__footer-text">
      Already have an account?
      <%= link_to "Sign in", new_session_url, class: "link link--primary link--weighted" %>
    </p>
  <% end %>
<% end %>