.animation--opacity {
  animation: opaquable 150ms ease forwards;
}

.animation--scale {
  animation: scalable 150ms ease forwards;
}

@keyframes opaquable {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scalable {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
