$z-index: (
  dropdown: 70,
  overlay: 80,
  sidebar: 90,
  sidebar-nav: 100,
  toast: 110,
);

@function z($name, $z: $z-index) {
  @if map-has-key($z, $name) {
    @return map-get($z, $name);
  }
  //Warn if no value is present
  @else {
    @error "No value is present in `#{$z-index}` of the name `#{$name}`";
  }
  @return null;
}
