.badge {
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.badge--warning {
  background-color: $yellow-100;
  color: $yellow-700;
}
