.box {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: $shadow-default;
  width: 100%;
  overflow: hidden;
}

.box__content {
  padding: 36px;
}

.box__title {
  color: $gray-900;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 24px 0 24px;
}

.box__content--with-footer {
  padding: 12px 24px;
}

.box__header {
  border-bottom: 1px solid;
}

.box__footer {
  border-top: 1px solid;
}

.box__header,
.box__footer {
  background-color: $gray-50;
  padding: 12px 24px;
  border-color: $gray-200;
}

.box__footer {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 12px;
  }
}

.box__footer--right {
  justify-content: flex-end;
}

.box__title--center {
  text-align: center;
}

.box--center {
  margin: 0 auto;
}

.box--fw-mobile {
  border-radius: 0;

  @include breakpoint(sm) {
    border-radius: 6px;

    &.box--sm {
      max-width: $mw-md;
    }
  }
}

.box--sm:not(.box--fw-mobile) {
  max-width: $mw-md;
}

.box--restrict {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 575px;
}

.box--overflow {
  overflow-y: auto;
  flex: 1 1 0%;
}
