.box {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: $shadow-default;
  width: 100%;
  padding: 36px;
}

.box--center {
  margin: 0 auto;
}

.box--fw-mobile {
  border-radius: 0;

  @include breakpoint(sm) {
    border-radius: 6px;

    &.box--sm {
      max-width: $mw-md;
    }
  }
}
