.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: relative;
  border-radius: 6px;
  padding: 8px 16px;
  border: 1px solid transparent;
  box-shadow: $shadow-sm;
  font-weight: 600;
  transition: all 150ms ease-in-out;
  text-align: center;
  font-size: 16px;
  line-height: 24px;

  @include breakpoint(sm) {
    font-size: 14px;
    line-height: 20px;
  }
}

.btn__pill {
  padding: 4px 12px;
  border-radius: 9999px;
  border-color: $gray-300;
  line-height: 20px;
  font-size: 13px;
  font-weight: 600;
  background-color: #fff;
  height: 28px;
  color: $gray-700;

  &:hover {
    background-color: $gray-100;
  }

  &:active {
    background-color: $gray-200;
  }
}

.btn__pill__icon {
  height: 20px;
  width: 20px;
  color: $pink-600;
}

.btn__pill__icon--left {
  margin-left: -2px;
  margin-right: 2px;
}

.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 9999px;
  color: $gray-500;

  &:hover {
    color: $gray-700;
  }
}

.btn__icon--right {
  margin-right: -4px;
}

// colors
.btn--primary {
  color: $gray-200;
  background-color: $gray-900;

  &:hover {
    background-color: $gray-800;
  }

  &:active {
    background-color: $gray-1000;
  }
}

.btn--danger {
  color: #fff;
  background-color: $red-600;

  &:hover {
    background-color: $red-500;
  }

  &:active {
    background-color: $red-700;
  }
}

// appearances
.btn--danger.btn--minimal {
  color: $red-700;
  background-color: $red-100;
  border-color: $red-300;

  &:hover {
    color: $red-500;
  }

  &:active {
    background-color: $red-200;
  }
}

.btn--outlined {
  border-color: $gray-300;
  color: $gray-700;
  background-color: #fff;

  &:hover {
    color: $gray-500;
  }

  &:active {
    background-color: $gray-100;
  }
}

// modifiers
.btn--block {
  width: 100%;
}

.btn.btn--graphik {
  // nested for specificity issues
  font-family: $font-family-graphik;
  font-weight: 500;
}

.btn--rounded {
  border-radius: 9999px;
}
