.sidebar {
  display: flex;
  height: 100vh;
  flex-shrink: 0;
  position: absolute;
  transition: all 150ms ease-in-out;
  transform: translateX(-200%);

  @include breakpoint(lg) {
    position: static;
    transform: translateX(0);
  }
}

.sidebar--active {
  transform: translateX(0);
}

.sidebar__nav {
  height: 100vh;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  border-right: 1px solid $gray-200;
  background-color: #fff;
  z-index: z(sidebar-nav);
}

.sidebar__link {
  padding: 16px;
  color: $gray-500;
  border-left: 4px solid transparent;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: $gray-100;
    border-color: $gray-300;
  }
}

.sidebar__link--toggle {
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
}

.sidebar__link.sidebar__link--active {
  border-color: $gray-500;
}

// extended sidebar
.sidebar__extended {
  flex-shrink: 0;
  width: 100%;
}

.sidebar__extended__container {
  flex: 1 1 0%;
  max-width: 320px;
  height: 100vh;
  padding: 32px 24px;
  background-color: $gray-800;
  position: relative;

  @include breakpoint(sm) {
    width: 320px;
  }

  @include breakpoint(lg) {
    position: absolute;
    transform: translateX(-200%);
    transition: all 150ms ease-in-out;

    &.sidebar__extended__container--active {
      transform: translateX(0);
      left: 61px;
    }
  }
}

.sidebar__extended__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__extended__title {
  font-size: 14px;
  font-weight: 600;
  color: $gray-400;
}

.sidebar__extended__xbtn_container {
  position: absolute;
  left: 100%;
  margin-left: 4px;

  > button {
    padding: 4px;
    border-radius: 9999px;
    color: $gray-200;
    background-color: $gray-700;
  }

  @include breakpoint(lg) {
    display: none;
  }
}

.sidebar__extended__btn {
  color: $gray-200;
  padding: 4px;
  margin-right: -6px;
  border-radius: 6px;

  &:hover {
    background-color: $gray-700;
  }
}

.sidebar__extended__content {
  margin-top: 24px;

  > * + * {
    margin-top: 8px;
  }
}

.sidebar__extended__link {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: $gray-900;
  }

  > span {
    color: $gray-300;
    font-size: 16px;
    font-weight: 600;
    padding-left: 8px;
  }
}

.sidebar__extended__link--active {
  background-color: $gray-900;

  > span {
    color: $gray-100;
  }
}
