<header class="actionable__header">
  <% if @centered %>
    <hr>
    <h2 class="actionable__title actionable__title--centered"><%= @title %></h2>
    <hr>
  <% else %>
    <h2 class="actionable__title"><%= @title %></h2>
    <hr>
    <%= actioner %>
  <% end %>
</header>